@import "tailwindcss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100dvw;
	display: flex;
	overflow-x: hidden;
	min-height: 100dvh;
	flex-direction: column;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color: var(--text-color);
	justify-content: space-between;
	background: var(--background-color);
}

img,
svg {
	width: 100%;
	height: 100%;
}

:root {
	--text-color: #ffffff;
	--tag-color: #e1fdff1a;
	--special-color: #e8590c;
	--border-color: #ffffff0d;
	--background-color: #11181b;
	--text-second-color: #B9CACB;
	--box-background-color: #1e202399;
	--background-second-color: #0d0f11;
}